<article class="project">
  <div class="project__image shadow opacityAnimation">
    <div class="project__image__photo"></div>
    <div class="project__image__badge">
      <h2 class="project__image__badge__number text">
        <!-- number: 01 -->
      </h2>
    </div>
  </div>
  <div class="project__content">
    <h2 class="project__content__title title"><!-- title --></h2>
    <h4 class="project__content__tags title">
      <!-- tags -->
    </h4>
    <p class="project__content__text text">
      <!-- text -->
    </p>
  </div>
  <div class="project__buttons">
    <!-- link -->
    <a href="#LINK" class="project__buttons__button shadow">live</a>
    <!-- link -->
    <a
      href="#LINK"
      class="project__buttons__button project__buttons__button--outline shadow"
    >
      github
    </a>
  </div>
</article>
