/* ---footer--- */
.footer {
  background-color: $extra;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 70px;

  &__box {
    padding: 0 20px;
    max-width: 1366px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;

    &__title {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      text-transform: capitalize;
      padding-right: 10px;
      padding-bottom: 20px;
      transform-origin: left;
    }
    &__content {
      grid-column: 2 / 7;
      grid-row: 1 / 2;
      &__text {
        line-height: 24px;

        transform-origin: left;
      }
    }
    &__copywriter {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-column: 1 / 7;
      grid-row: 3 / 4;
      padding: 20px 0 20px 0;
      transform-origin: left;

      &__icon {
        height: 10px;
        margin-right: 5px;
      }
      &__title {
        color: $dark;
        font-style: normal;
        font-weight: normal;

      }
    }
    &__button {
      grid-column: 6 / 7;
      grid-row: 2 / 3;

      border: none;
      background-color: transparent;
      justify-self: flex-end;

      &__icon {
        cursor: pointer;
        padding: 10px;
      }
    }
  }
}
.address {
  &__box {
    margin-top: 20px;
    &__table {
      &__cell {
        color: $dark;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;

        transform-origin: left;

        &--data {
          padding-left: 30px;
          font-style: bold;
          font-weight: bold;
        }
      }
    }
  }
}
