/* ---hero--- */
.hero {
  background-color: $extra;
  width: 100%;

  &__box {
    margin: 0 auto;
    display: grid;
    position: relative;
    width: 100%;
    max-width: 1366px;
    padding: 0 20px 70px 20px;
    grid-template-columns: repeat(6, 1fr);

    &__image {
      grid-column: 2 / 7;
      grid-row: 1 / 2;
      height: 70vh;
      width: 100%;
      background-image: url("../../dist/assets/images/main_img.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  
    }
    &__header {
      grid-column: 2 / 7;
      grid-row: 1 / 2;
      align-self: end;
      margin-bottom: 15vh;
      margin-left: -65px;

      &__title {
        transform-origin: left;
        text-transform: capitalize;
        line-height: 110%;
        z-index: 100;
      }
      &__subTitle {
        transform-origin: left;
        text-transform: uppercase;
        z-index: 100;
      }
    }
  }
}
