/* ---media--- */
@media screen and (max-width: 991px) {
  .hero {
    &__box {
      padding: 0;
      &__image {
        grid-column: 1 / 7;
      }
    }
  }
  .tech {
    &__box {
      &__lists {
        grid-column: 2 / 6;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .header {
    &__box {
      &__logo {
        font-size: 12px;
      }
      &__nav {
        &__button {
          font-size: 12px;
        }
      }
    }
  }
  .hero {
    &__box {
      &__header {
        grid-column: 1/ 7;
        margin: 0;
        justify-self: start;
        padding-left: 20px;
        align-self: end;
        padding-bottom: 5vh;

        &__title {
          font-size: 45px;
          line-height: 130%;
          text-align: start;
        }
        &__subTitle {
          text-align: start;
        }
      }
    }
  }
  .about {
    &__box {
      display: flex;
      flex-direction: column;

      &__title {
        margin-bottom: 20px;
      }
    }
  }
  .tech {
    &__box {
      display: flex;
      flex-direction: column;
      &__title {
        margin-bottom: 20px;
      }
      &__lists {
        grid-column: 2 / 7;
      }
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
    padding: 0;
    &__title {
      margin-bottom: 20px;
      padding: 0 20px;
    }
  }
  .project {
    &__content {
      padding: 0 20px;
    }
    &__buttons {
      padding: 0 20px;
    }
  }

  .footer {
    &__box {
      display: flex;
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 479px) {
  .header {
    &__box {
      &__nav {
        transform: scaleY(0);
        display: flex;
        align-items: center;
        position: absolute;
        height: 60px;
        justify-content: flex-end;
        bottom: -55px;
        width: 100%;
        margin: 0;
        left: 0;
        z-index: 100;
        background-color: $extra;
      }
      &__icon {
        display: block;
      }
    }
  }
  .hero {
    &__box {
      &__header {
        &__title {
          font-size: 42px;
        }
        &__subTitle {
          font-size: 14px;
        }
      }
    }
  }
  .project {
    &__buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__button {
        width: 80vw;
        text-align: center;
      }
    }
  }
  .footer {
    &__box {
      &__button {
        padding-top: 20px;
      }
    }
  }
  .address {
    &__box {
      &__table {
        &__cell {
          display: none;
          &--data {
            display: inline;
            padding: 0;
          }
        }
      }
    }
  }
}
